@import 'tailwindcss';
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
	background: var(--background);
	color: var(--foreground);
	font-family: system-ui, -apple-system, sans-serif;
}

.remove-second-tr tr:nth-child(2) {
	display: none;
}

.table-border tr {
	border-bottom-style: var(--tw-border-style);
	border-bottom-width: 1px;
	border-color: var(--color-gray-200);
}

.table-border td {
	border-right-style: var(--tw-border-style);
	border-right-width: 1px;
	border-left-style: var(--tw-border-style);
	border-left-width: 1px;
	border-color: var(--color-gray-200);
}

.table-border thead {
	border-right-style: var(--tw-border-style);
	border-right-width: 1px;
	border-left-style: var(--tw-border-style);
	border-left-width: 1px;
	border-top-style: var(--tw-border-style);
	border-top-width: 1px;
	border-color: var(--color-gray-200);
}
